.is-show {
    display: block!important;
}

.comment {
    border-top: solid 1px #e1e1e1;
    display: none;
}

.comment--avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    z-index: 99;
}
.comment-date {
    font-size: 12px;
    color: #676a79
}

.add-comment {
    width: 100%;
    height: 36px;
    outline: none;
    border: none;
    background-color: var(--light-gray-color);
    border-radius: 50px;
    padding: 8px 16px;
}

.show-more-comment {
    font-size: 14px;
    color: #999;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
}

.show-more-comment .showMore:hover {
    text-decoration: underline;
}

.child-have-reply .comment--item::after {
    content: '';
    width: 1.5px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: -26px;
    top: -4px;
}

.child-have-reply .comment--item:last-child::after {
    width: 0;
    height: 0;
}

.reply-comments .comment--item .point:before {
    content: '';
    width: 1.5px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    top: -92px;
    left: -26px;
}

#repliedComments .point-to-child {
    width: 22px;
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: -34px;
    left: -26px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #c7cacb;
    border-left: 2px solid #c7cacb;
}

.commentFormReply .point-to-formReply {
    width: 22px;
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: -42px;
    left: -26px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #c7cacb;
    border-left: 2px solid #c7cacb;
}

.commentFormReply .point-to-formReply::before {
    content: '';
    width: 1.5px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    top: -34px;
    left: -2px;
}

.btn-load-reply-comments .point-to-showMore {
    width: 22px;
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: -48px;
    left: 18px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #c7cacb;
    border-left: 2px solid #c7cacb;
} 

.btn-load-reply-comments .point-to-showMore::before {
    content: '';
    width: 1.5px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    top: -34px;
    left: -2px;
}

.comment-like {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    margin-right: 12px;
}

.count-like-comment {
    border-radius: 50px;
    box-shadow: 0px 2px 4px #999;
    padding: 2px;
    color: #333;
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: -12px;
    cursor: default;
}

.count-like-comment img {
    animation: liked 0.5s ease-in-out;
}

.comment-like.liked {
    color: var(--primary-color-100) !important;
    animation: liked .4s ease;
}

.comment-reply {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    margin-right: 12px;
}

.comment-delete {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
}
.comment--item-content{
    margin-right: 4px;
    position: relative;
}

.comment-content {
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}

.comment-content.tada {
    animation: tada 1s ease;
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%, 20% {
        transform: scale(0.98) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.02) rotate(3deg);
    }
    40%, 60%, 80% {
        transform: scale(1.02) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

/*reply comment css*/
.reply-comments {
    padding-left: 44px;
}

.btn-load-reply-comments i {
    transform: rotate(180deg);
}

.btn-load-reply-comments {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color-200);
    padding-left: 44px;
    position: relative;
    width: auto;
}

.btn-load-reply-comments span:hover {
    text-decoration: underline;
}

.commentFormReply {
    display: none;
}

.form-reply-is-show {
    display: flex;
}

.comment-loading {
    width: 100%;
    padding: 10px;
    background-color: #fff;
}