.notif-loading {
    width: 100%;
    padding: 0px;
    background-color: #fff;
    cursor: pointer;
}
.notif-header {
    padding: 12px 16px 4px;
}

#notifContainer {
    width: 370px;
    right: -68px;
    top:32px;
}

.list-notification {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notif-header h5 {
     font-size: 24px;
    font-weight: bold;
}

.notif-item {
    display: flex;
    flex-direction: row;
    min-width: 350px;
    padding: 8px 10px;
}

.notif-item :hover {
    cursor: pointer;
}

.img-type-notif {
    position: absolute;
    bottom: 2px;
    right: 6px;
}

.notif-item--message {
    padding: 4px 0;
    text-align: left;
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.notif-item--message .message {
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-size:  15px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.notif-dot {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}

.notif-dot > i {
    color: #0084ff;
}

.notif-item .user-img {
    margin: 4px 12px 4px 0;
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.dropdown-menu {
    padding: 0.5rem;
}

.notif-time {
    color: var(--primary-color-200);
    line-height: 15px;
    font-size: 13px !important;
}

.notif-count {
    opacity: 0;
    position: absolute;
    top:-7px;
    left: 10px;
    width: 16px;
    padding: 2px;
    font-size: 10px;
    color: #fff;
    line-height: 14px;
    background-color: #d11919;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-read-notify {
    color: #9fa8af !important;
}