.hashtag-header {
    margin-top: 4rem;
    background-color: #fff;
    justify-content: center;
    padding-top: 3rem;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-align: center;
    white-space: pre-wrap;
    max-width: 100%;
}

.hashtag-name-container{
    font-size: 2rem;
    font-weight: bold;
}

.hashtag-name-container-desciption{
    font-size: 1rem;
}

.search-sidebar {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    height: 320px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 8px 16px rgb(0 0 0 / 8%);
}

.search-title {
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 28px;
}

.search-filter-item {
    padding: 1rem;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 1rem;
}

.search-filter-item:hover {
    color: var(--primary-color-100);
}

.search-filter-item i {
    width: 20px;
}

.search-filter-item:hover {
    cursor: pointer;
    background-color: #f0f2f5;
    border-radius: 5px;
}

.title {
    padding: 12px 8px 4px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.avatar-search {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.person-search {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 8%);
}

.person-search-item {
    display: flex;
    align-items: center;
    padding: 8px;
}

.person-search-item-name {
    margin-left: 0.5rem;
    font-size: 17px;
}

.btn-follow {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ccc;
    transition: all linear .5s;
    opacity: 0.7;
}

.btn-follow.active {
    background-color: var(--primary-color-200);
}

.btn-follow:hover {
    cursor: pointer;
}

.btn-follow .line1 {
    position: absolute;
    left: 15px;
    top: 23px;
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--primary-color-200);
    transition: all linear .4s;
}

.btn-follow.active .line1 {
    background-color: #fff;
    animation: line1 .4s ease-in-out forwards;
}

.btn-follow .line2 {
    position: absolute;
    left: 15px;
    top: 23px;
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 8px;
    background-color: var(--primary-color-200);
    transform: rotate(90deg);
    transition: all linear .4s;
}

.btn-follow.active .line2 {
    background-color: #fff;
    animation: line2 .4s ease-in-out forwards;
}

#personsContainer .person-search-item-name .card-title {
    margin-top: 10px;
}

.right-part .title {
    font-weight: bold;
}

@keyframes line1 {
    50% {
        width: 4px;
        height: 4px;
        left: 20px;
        top: 30px;
        border-radius: 8px;
    }
    100% {
        width: 10px;
        left: 13px;
        top: 25px;
        transform: rotate(45deg);
    }
}

@keyframes line2 {
    50% {
        width: 4px;
        height: 4px;
        border-radius: 8px;
        left: 20px;
        top: 30px;
    }
    100% {
        width: 18px;
        left: 18px;
        transform: rotate(-45deg);
    }
}