.main {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

/*header css*/
header {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 8px 16px rgb(0 0 0 / 8%);
}

.logo-img {
    height: 40px;
    width: 40px;
}

.form-search input {
    border-radius: 50px;
    height: 40px;
}

.form-control:focus {
    color: #212529;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

.notify-icon {
    font-size: 18px;
    color: var(--primary-color-300);
    cursor: pointer;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.menu-icon {
    margin-right: 2px;

}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color-200);
}

.dropdown-item {
    padding: 8px 16px;
    border-radius: 6px;
}

.dropdown-item:active {
    background-color: #cfd9df !important;
}

/*navbar mobile*/
.navbar-toggler {
    border-color: #ffffff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-animation {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none;
    position: relative;
    height: 20px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler .navbar-toggler-animation span:nth-child(1) {
    top: 10%;
}

.navbar-toggler .navbar-toggler-animation span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-toggler .navbar-toggler-animation span:nth-child(3) {
    bottom: 10%;
}

.navbar-toggler .navbar-toggler-animation span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    height: 2px;
    background: #676a79;
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 30px;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(1) {
    -webkit-transform: rotateZ(45deg) translateY(-50%);
    transform: rotateZ(45deg) translateY(-50%);
    top: 47%;
    -webkit-transform-origin: 47% 0;
    transform-origin: 47% 0;
    width: 100%;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg) translateY(-50%);
    transform: rotateZ(-45deg) translateY(-50%);
    bottom: 42%;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    width: 100%;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(2) {
    visibility: hidden;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

/*sidebar right css*/
.card {
    border-radius: 6px;
}

.card-header {
    background-color: var(--white-color);
    border-radius: calc(6px  - 1px) calc(6px - 1px) 0 0 !important;
}

#chatContainer {
    min-width: 360px;
    right: -108px;
    top: 32px;
}

.chat-side {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
}

.chat-menu-header {
    padding: 12px 16px 4px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.chat-menu-header h5 {
    font-size: 24px;
    font-weight: bold;
}

.chat-menu-header a {
    font-size: 14px;
    color: var(--primary-color-100);
}

.chat-menu-header a:hover {
    text-decoration: underline;
}

.list-user-chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-menu-avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.chat--item {
    cursor: pointer;
    border-radius: 4px;
}

.go-chat {
    font-size: 18px;
    margin-bottom: 0;
    color: #6c757d;
}

li .chat--item:hover .go-chat,
li .chat--item:hover .chat-side {
    color: var(--primary-color-100);
}

/*@media (max-width: 992px) {
    #chatContainer {
        position: fixed;
        top: 0;
        right: 0;
        display: none;
    }
}*/

/*sidebar left css*/
.auction-card {
    min-height: 70vh;
}

/*content css*/
.content {
    padding: 86px 0 20px;
}

.tag {
    color: var(--primary-color-200);
}

/*footer css*/
.footer {
    margin-top: 16px;
    background-color: #fff;
    color: var(--primary-color-200);
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-size: 20px;
    font-weight: bold;
    margin: 6px 0;
}

.overview {
    font-size: 17px;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    font-size: 32px;
    color: #000;
}

.footer-link:hover {
    color: #222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/*hashtag*/
.jqueryHashtags .highlighter{
    white-space: pre-wrap;
    color:transparent;
    overflow: hidden;
    position: absolute;
    padding-left:14px;
    padding-top:5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height:20px;
}

.jqueryHashtags .theSelector{
    background-color: transparent;
    position: relative;
    direction: ltr;
    font-size:18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    resize:none !important;
    -webkit-transition: height 0.2s;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 6px;
    vertical-align:middle;
    min-height:48px !important;
    line-height:20px;
    resize: none;
    min-width: 280px;
}

.jqueryHashtags .hashtag{
    background: -webkit-linear-gradient(#dce6f8, #bdcff1);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #a3bcea;
    font-size:18px;
    white-space: pre-wrap;
    line-height:20px;
}

.err-validate {
    font-size: 12px;
    margin-left: 4px;
}

/*chat box css*/
#chat-box {
    min-width: 328px;
    position: fixed;
    bottom: 0;
    right: 80px;
    z-index: 1;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    display: none;
}

.chat-box-header {
    padding: 8px;
    background-image: linear-gradient(180deg, #744ea6, #667eea);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}

.chat-user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-box--close {
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
}

.chat-box-message {
    height: 360px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--light-gray-color);
}

.chat-box--send {
    padding: 12px 8px;
    align-items: flex-end;
    background-color: var(--light-gray-color);
    border-top: 1px solid #cccccc; 
}

.form-control.chat-input {
    width: 100%;
    font-size: 15px;
    border-radius: 50px !important;
}

.btn-send {
    outline: none;
    border: none;
    background-color: transparent;
    color: #744ea6;
    font-size: 18px;
}

.message-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 101%;
    width: 100%;    
}

.messages {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 0 10px;
}

.message-chat {
    clear: both;
    padding: 6px 10px 7px;
    margin: 8px 0 12px;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    border: 1px solid #ccc;
}

.message-chat .avatar {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    bottom: -15px;
    left: -36px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.message-chat.message--left {
    float: left;
    padding: 6px 10px 7px;
    border-radius: 20px 20px 20px 0;
    background: #eee;
    margin-left: 35px;
}

.message-chat.new {
    transform: scale(0);
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
}

.message-chat.message--right {
    float: right;
    text-align: right;
    color: #fff;
    background-color: #667eea;
    border: 1px solid #667eea;
    border-radius: 20px 20px 0 20px;
}

.send-time-left {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: #555;
    left: 2px;
}

.send-time-right {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: #555;
    right: 2px;
}

@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}