.main {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*header css*/
header {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 8px 16px rgb(0 0 0 / 8%);
}

.logo-img {
    height: 40px;
    width: 40px;
}

.form-search input {
    border-radius: 50px;
    height: 40px;
}

.form-control:focus {
    color: #212529;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

.notify-icon {
    font-size: 1rem;
    color: var(--primary-color-300);
    cursor: pointer;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.menu-icon {
    margin-right: 2px;

}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color-200);
}


/*navbar mobile*/
.navbar-toggler {
    border-color: #ffffff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-animation {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none;
    position: relative;
    height: 20px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler .navbar-toggler-animation span:nth-child(1) {
    top: 10%;
}

.navbar-toggler .navbar-toggler-animation span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-toggler .navbar-toggler-animation span:nth-child(3) {
    bottom: 10%;
}

.navbar-toggler .navbar-toggler-animation span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    height: 2px;
    background: #676a79;
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 30px;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(1) {
    -webkit-transform: rotateZ(45deg) translateY(-50%);
    transform: rotateZ(45deg) translateY(-50%);
    top: 47%;
    -webkit-transform-origin: 47% 0;
    transform-origin: 47% 0;
    width: 100%;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg) translateY(-50%);
    transform: rotateZ(-45deg) translateY(-50%);
    bottom: 42%;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    width: 100%;
}

.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(2) {
    visibility: hidden;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

/*sidebar right css*/
.card {
    border-radius: 6px;
}

.card-header {
    background-color: var(--white-color);
    border-radius: calc(6px  - 1px) calc(6px - 1px) 0 0 !important;
}

.chat-side {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
}

.chat--item {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
}

.chat--item:hover {
    background-color: var(--light-gray-color);
}

.go-search {
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .chat-card {
        position: fixed;
        z-index: 1050;
        width: 60vw;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        border-radius: 0;
        transition: all 0.3s;
    }

    .sidebar-right {
        display: none;
    }
}

/*sidebar left css*/
.auction-card {
    min-height: 70vh;
}

/*content css*/
.content {
    padding: 86px 0 20px;
}

.tag {
    color: var(--primary-color-200);
}

/*footer css*/
.footer {
    background-color: var(--primary-color-300);
    color: var(--white-color);
    padding: 14px 20px;
    width: 100%;
    text-align: center;
}

.author {
    font-size: 20px;
    font-weight: bold;
    margin: 6px 0;
}

.overview {
    font-size: 17px;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    font-size: 32px;
    color: #000;
}

.footer-link:hover {
    color: #222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/*scrolltop*/
#go-to-top {
    width: 46px;
    height: 46px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: var(--primary-color-100);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
    display: none;
}

/*hashtag*/
.jqueryHashtags .highlighter{
    white-space: pre-wrap;
    color:transparent;
    overflow: hidden;
    position: absolute;
    padding-left:10px;
    padding-top:5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height:20px;
}

.jqueryHashtags .theSelector{
    background-color: transparent;
    position: relative;
    direction: ltr;
    font-size:18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    resize:none !important;
    -webkit-transition: height 0.2s;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 6px;
    vertical-align:middle;
    min-height:48px !important;
    line-height:20px;
    resize: none;
}

.jqueryHashtags .hashtag{
    background: -webkit-linear-gradient(#dce6f8, #bdcff1);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #a3bcea;
    font-size:18px;
    white-space: pre-wrap;
    line-height:20px;
}
