.user-profile {
    padding: 66px 0 20px;
}

.wrap {
    background-color: #fff;
}

.cover-img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user-avatar {
    padding: 0 24px 16px;
}

.user-avatar-img {
    width: 168px;
    height: 168px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%), 0 2px 8px rgb(0 0 0 / 8%);
    position: absolute;
    top: -28px;
    left:0;
}

.height-element {
    min-height: 146px;
}

.user-profile-name {
    font-size: 32px;
    font-weight: bold;
    margin-left: 186px; 
}

.btn-fix-profile {
    background-color: #6d66c8;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-report-user {
    background-color: #bb1d1d;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-fix-profile:hover,
.btn-report-user:hover {
    filter: brightness(1.1);
}

.user-menu {
    height: 60px;
    border-top: solid 1px #e1e1e1;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu--item {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 96%;
}

.user-menu--item.active {
    border-bottom: solid 4px var(--primary-color-100);
    color: var(--primary-color-100);
}

.user-menu--hover {
    padding: 14.5px 16px;
    border-radius: 6px;
}

.user-menu--hover:hover {
    background-color: #e1e1e1;
}

@media (max-width: 992px) {
    .cover-img {
        height: 270px;
    }
    
    .user-avatar-img {
        width: 120px;
        height: 120px;
    }
    
    .user-profile-name {
        margin-left: 0;
        margin-top: 90px;
    }
    
    .user-avatar-img {
        left: 50%;
        transform: translateX(-50%);
    }
}

.user-profile--content {
    padding-top: 16px;
    min-height: 100vh;
}

.user-intro {
    background-color: var(--white-color);
}

.user-intro--item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 8px;
}

.intro-icon {
    font-size: 18px;
    padding: 6px;
    width: 30px;
    text-align: left;
}

.intro-text {
    word-wrap: break-word;
    max-width: 100%;
    font-size: 16px;
    padding: 6px;
}