:root {
    --primary-color-300: #4267b2;
    --primary-color-200: #1877f2;
    --primary-color-100: #5890ff;
    --light-gray-color: #f6f7f8;
    --white-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

