a {
    text-decoration: none;
    color: #14191e;
}

.line {
    padding-top: 16px;
    border-bottom: solid 1px #e1e1e1;
}

.home-content {
    /*    overflow: hidden;
        overflow-y: scroll;*/
    min-height: 120vh;
}

.home-content::-webkit-scrollbar {
    display: none;
}

.avatar-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.btn-post {
    background-color: var(--light-gray-color);
    height: 40px;
    margin-left: 12px;
    border-radius: 50px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-post:hover {
    background-color: #e1e1e1;
}

.photo-post {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: solid 1px #e1e1e1;
}

.photo-post--item {
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    background-color: var(--light-gray-color);
    border-radius: 6px;
    cursor: pointer;
}

.photo-post--item:hover {
    background-color: #e1e1e1;
}

.photo-icon {
    color: #32cd32;
}

.post--item {
    margin-top: 16px;
}

.post--img {
    width: 100%;
    aspect-ratio: 16/10;
    transition: all 0.2s ease-in;
    object-fit: cover;
}

.post--img:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.post--hashtag {
    color: var(--primary-color-200);
}

.post--action-icon {
    font-size: 22px;
    color: #676a79;
}

.post--action-like {
    cursor: pointer;
}

.post--action-comment {
    cursor: pointer;
}

.post--action-hover {
    width: 180px;
    height: 43px;
    max-width: 100%;
    padding: 6px 24px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post--action-hover:hover {
    background-color: #e1e1e1;
}

.post--action-text {
    font-size: 14px;
    margin-left: 3px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all linear 0.4s;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 450px;
    max-width: calc(100% - 16px);
    min-height: 500px;
    background-color: var(--white-color);
    animation: fadeIn 0.3s linear;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.modal-header {
    position: relative;
    height: 60px;
    display: flex;
}

.modal-body {
    padding: 20px 20px;
}

.modal--close {
    position: absolute;
    width: 17px;
    color: var(--black-color);
    top: -4px;
    right: 24px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

.modal--remove-img {
    z-index: 1000;
    position: absolute;
    width: 2px;
    color: red;
    top: -8px;
    right: -2px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
}

.modal--picture {
    width: 900px;
    max-width: calc(100% - 16px);
    margin: auto;
    cursor: pointer;
    animation: zoomIn 0.4s;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.dropzone {
    position: relative;
    height: 240px;
    max-height: 100%;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #eef0f2;
}

.imagePreview {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

#uploadPreview1 {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.images-icon {
    font-size: 50px;
    color: #eef0f2;
}

.upload-image {
    width: 0;
    height: 0;
}


.author-post {
    font-size: 12px;
    opacity: 0.9;
    color: var(--primary-color-200);
    border-radius: 10px;
}

.feeds-container {
    margin-bottom: 100px;
}

.heart-like-button {
    position: relative;
    width: 30px;
    height: 30px;
}
.heart-like-button:before {
    position: absolute;
    top: 1px;
    left: 12px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 17px;
    height: 27px;
    border-radius: 40px 40px 0 0;
    background-color: #eef0f2;
    content: "";
    cursor: pointer;
    transition: background .5s;
}
.heart-like-button:after {
    position: absolute;
    top: 1px;
    left: -4px;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 17px;
    height: 27px;
    border-radius: 40px 40px 0 0;
    background-color: #eef0f2;
    content: "";
    cursor: pointer;
    transition: background .5s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #d65076;
}
.heart-like-button.liked {
    animation: liked .4s ease;
}
@keyframes liked {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.post-loading {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
}

.list-user-liked {
    position: absolute;
    background-color: rgba(237, 235, 235, 0.8);
    bottom: 46px;
    left: 0;
    padding: 10px 10px;
    border-radius: 6px;
    width: auto;
    height: auto;
    display: none;
}

.user-liked {
    font-size: 12px;
    word-break: unset;
    margin-bottom: 0;
    padding: 1px;
}

#likeAction:hover .list-user-liked {
    display: block;
}